$tokens: (
  global: (
    spacing: (
      scale: (
        value: 2,
        type: spacing
      ),
      xs: (
        value: 4,
        type: spacing
      ),
      sm: (
        value: {spacing.xs} * {spacing.scale},
        type: spacing
      ),
      md: (
        value: {spacing.sm} * {spacing.scale},
        type: spacing
      ),
      lg: (
        value: {spacing.md} * {spacing.scale},
        type: spacing
      ),
      xl: (
        value: {spacing.lg} * {spacing.scale},
        type: spacing
      )
    ),
    sizing: (
      scale: (
        value: 1.5,
        type: sizing
      ),
      xs: (
        value: 4,
        type: sizing
      ),
      sm: (
        value: {sizing.xs} * {sizing.scale},
        type: sizing
      ),
      md: (
        value: {sizing.sm} * {sizing.scale},
        type: sizing
      ),
      lg: (
        value: {sizing.md} * {sizing.scale},
        type: sizing
      ),
      xl: (
        value: {sizing.lg} * {sizing.scale},
        type: sizing
      )
    ),
    borderRadius: (
      none: (
        value: 0,
        type: borderRadius
      ),
      sm: (
        value: 4,
        type: borderRadius
      ),
      default: (
        value: 8,
        type: borderRadius,
        description: Used for Product cards and stacked CTA-Buttons
      ),
      xl: (
        value: 16,
        type: borderRadius
      )
    ),
    borderWidth: (
      none: (
        value: 0,
        type: borderWidth
      ),
      xs: (
        value: 1,
        type: borderWidth
      ),
      sm: (
        value: 2,
        type: borderWidth
      ),
      md: (
        value: 4,
        type: borderWidth
      ),
      lg: (
        value: 8,
        type: borderWidth
      )
    ),
    opacity: (
      low: (
        value: 10%,
        type: opacity
      ),
      md: (
        value: 50%,
        type: opacity
      ),
      high: (
        value: 90%,
        type: opacity
      )
    ),
    fontFamilies: (
      heading: (
        value: Inter,
        type: fontFamilies
      ),
      body: (
        value: Roboto,
        type: fontFamilies
      ),
      encode-sans: (
        value: Encode Sans,
        type: fontFamilies
      ),
      verdana: (
        value: Verdana,
        type: fontFamilies
      )
    ),
    lineHeights: (
      0: (
        value: 110%,
        type: lineHeights
      ),
      1: (
        value: 120%,
        type: lineHeights
      ),
      2: (
        value: 140%,
        type: lineHeights
      ),
      3: (
        value: AUTO,
        type: lineHeights
      ),
      heading: (
        value: 110%,
        type: lineHeights
      ),
      body: (
        value: 140%,
        type: lineHeights
      )
    ),
    letterSpacing: (
      0: (
        value: 0%,
        type: letterSpacing
      ),
      default: (
        value: 0,
        type: letterSpacing
      ),
      increased: (
        value: 150%,
        type: letterSpacing
      ),
      decreased: (
        value: -5%,
        type: letterSpacing
      )
    ),
    paragraphSpacing: (
      0: (
        value: 0,
        type: paragraphSpacing
      ),
      h1: (
        value: 32,
        type: paragraphSpacing
      ),
      h2: (
        value: 26,
        type: paragraphSpacing
      )
    ),
    fontWeights: (
      headingRegular: (
        value: Regular,
        type: fontWeights
      ),
      headingBold: (
        value: Bold,
        type: fontWeights
      ),
      bodyRegular: (
        value: Regular,
        type: fontWeights
      ),
      bodyBold: (
        value: Bold,
        type: fontWeights
      ),
      encode-sans-0: (
        value: Bold,
        type: fontWeights
      ),
      verdana-1: (
        value: Bold,
        type: fontWeights
      ),
      verdana-2: (
        value: Regular,
        type: fontWeights
      )
    ),
    fontSizes: (
      h1: (
        value: {fontSizes.h2} * 1.25,
        type: fontSizes
      ),
      h2: (
        value: {fontSizes.h3} * 1.25,
        type: fontSizes
      ),
      h3: (
        value: {fontSizes.h4} * 1.25,
        type: fontSizes
      ),
      h4: (
        value: {fontSizes.h5} * 1.25,
        type: fontSizes
      ),
      h5: (
        value: {fontSizes.h6} * 1.25,
        type: fontSizes
      ),
      h6: (
        value: {fontSizes.body} * 1,
        type: fontSizes
      ),
      body: (
        value: 16,
        type: fontSizes
      ),
      sm: (
        value: {fontSizes.body} * 0.85,
        type: fontSizes
      ),
      xs: (
        value: {fontSizes.body} * 0.65,
        type: fontSizes
      )
    ),
    typography: (
      H1: (
        Bold: (
          fontFamily: (
            value: {fontFamilies.heading},
            type: fontFamily
          ),
          fontWeight: (
            value: {fontWeights.headingBold},
            type: fontWeight
          ),
          lineHeight: (
            value: {lineHeights.heading},
            type: lineHeight
          ),
          fontSize: (
            value: {fontSizes.h1},
            type: fontSize
          ),
          paragraphSpacing: (
            value: {paragraphSpacing.h1},
            type: paragraphSpacing
          ),
          letterSpacing: (
            value: {letterSpacing.decreased},
            type: letterSpacing
          )
        ),
        Regular: (
          fontFamily: (
            value: {fontFamilies.heading},
            type: fontFamily
          ),
          fontWeight: (
            value: {fontWeights.headingRegular},
            type: fontWeight
          ),
          lineHeight: (
            value: {lineHeights.heading},
            type: lineHeight
          ),
          fontSize: (
            value: {fontSizes.h1},
            type: fontSize
          ),
          paragraphSpacing: (
            value: {paragraphSpacing.h1},
            type: paragraphSpacing
          ),
          letterSpacing: (
            value: {letterSpacing.decreased},
            type: letterSpacing
          )
        )
      ),
      H2: (
        Bold: (
          fontFamily: (
            value: {fontFamilies.heading},
            type: fontFamily
          ),
          fontWeight: (
            value: {fontWeights.headingBold},
            type: fontWeight
          ),
          lineHeight: (
            value: {lineHeights.heading},
            type: lineHeight
          ),
          fontSize: (
            value: {fontSizes.h2},
            type: fontSize
          ),
          paragraphSpacing: (
            value: {paragraphSpacing.h2},
            type: paragraphSpacing
          ),
          letterSpacing: (
            value: {letterSpacing.decreased},
            type: letterSpacing
          )
        ),
        Regular: (
          fontFamily: (
            value: {fontFamilies.heading},
            type: fontFamily
          ),
          fontWeight: (
            value: {fontWeights.headingRegular},
            type: fontWeight
          ),
          lineHeight: (
            value: {lineHeights.heading},
            type: lineHeight
          ),
          fontSize: (
            value: {fontSizes.h2},
            type: fontSize
          ),
          paragraphSpacing: (
            value: {paragraphSpacing.h2},
            type: paragraphSpacing
          ),
          letterSpacing: (
            value: {letterSpacing.decreased},
            type: letterSpacing
          )
        )
      ),
      Body: (
        fontFamily: (
          value: {fontFamilies.body},
          type: fontFamily
        ),
        fontWeight: (
          value: {fontWeights.bodyRegular},
          type: fontWeight
        ),
        lineHeight: (
          value: {lineHeights.heading},
          type: lineHeight
        ),
        fontSize: (
          value: {fontSizes.body},
          type: fontSize
        ),
        paragraphSpacing: (
          value: {paragraphSpacing.h2},
          type: paragraphSpacing
        )
      )
    ),
    Foundation Light Theme: (
      primary: (
        primary: (
          value: #1493be,
          type: color,
          description: 1493BE
        ),
        primarydark: (
          value: #0a2433,
          type: color,
          description: 0A2433
        )
      ),
      secondary: (
        secondary: (
          value: #105c79,
          type: color,
          description: 105C79
        )
      ),
      utils: (
        danger: (
          value: #e53935,
          type: color,
          description: E53935
        ),
        info: (
          value: #89c9de,
          type: color,
          description: 89C9DE
        ),
        success: (
          value: #62b024,
          type: color,
          description: 75AD3F
        ),
        warning: (
          value: #fdd835,
          type: color,
          description: FDD835
        )
      ),
      greyscale: (
        black: (
          value: #001018,
          type: color,
          description: 001018
        ),
        grey100: (
          value: #eff1f3,
          type: color,
          description: EFF1F3
        ),
        grey200: (
          value: #d9dde1,
          type: color,
          description: D9DDE1
        ),
        grey300: (
          value: #b3bac3,
          type: color,
          description: B3BAC3
        ),
        grey400: (
          value: #8c96a2,
          type: color,
          description: 8C96A2
        ),
        grey50: (
          value: #f7f8f9,
          type: color,
          description: F7F8F9
        ),
        grey500: (
          value: #687787,
          type: color,
          description: 687787
        ),
        grey600: (
          value: #4e5d6b,
          type: color,
          description: 4E5D6B
        ),
        grey700: (
          value: #344450,
          type: color,
          description: 344450
        ),
        grey800: (
          value: #1a2a34,
          type: color,
          description: 1A2A34
        ),
        grey900: (
          value: #142129,
          type: color,
          description: 142129
        ),
        white: (
          value: #ffffff,
          type: color,
          description: FFFFFF
        )
      ),
      User Input: (
        Product Group Colors: (
          Blue: (
            Blue50: (
              value: #eff6ff,
              type: color,
              description: EFF6FF
            ),
            Blue100: (
              value: #dbeafe,
              type: color,
              description: DBEAFE
            ),
            Blue200: (
              value: #bfdbfe,
              type: color,
              description: BFDBFE
            ),
            Blue300: (
              value: #93c5fd,
              type: color,
              description: 93C5FD
            ),
            Blue400: (
              value: #60a5fa,
              type: color,
              description: 60A5FA
            ),
            Blue500: (
              value: #3b82f6,
              type: color,
              description: 3B82F6
            ),
            Blue600: (
              value: #2563eb,
              type: color,
              description: 2563EB
            ),
            Blue700: (
              value: #1d4ed8,
              type: color,
              description: 1D4ED8
            ),
            Blue800: (
              value: #1e40af,
              type: color,
              description: 1E40AF
            ),
            Blue900: (
              value: #1e3a8a,
              type: color,
              description: 1E3A8A
            )
          ),
          Cyan: (
            Cyan100: (
              value: #cffafe,
              type: color,
              description: CFFAFE
            ),
            Cyan200: (
              value: #a5f3fc,
              type: color,
              description: A5F3FC
            ),
            Cyan300: (
              value: #67e8f9,
              type: color,
              description: 67E8F9
            ),
            Cyan400: (
              value: #22d3ee,
              type: color,
              description: 22D3EE
            ),
            Cyan50: (
              value: #ecfeff,
              type: color,
              description: ECFEFF
            ),
            Cyan500: (
              value: #06b6d4,
              type: color,
              description: 06B6D4
            ),
            Cyan600: (
              value: #0891b2,
              type: color,
              description: 0891B2
            ),
            Cyan700: (
              value: #0e7490,
              type: color,
              description: 0E7490
            ),
            Cyan800: (
              value: #155e75,
              type: color,
              description: 155E75
            ),
            Cyan900: (
              value: #164e63,
              type: color,
              description: 164E63
            )
          ),
          Gray: (
            Gray100: (
              value: #f3f4f6,
              type: color,
              description: F3F4F6
            ),
            Gray200: (
              value: #e5e7eb,
              type: color,
              description: E5E7EB
            ),
            Gray300: (
              value: #d1d5db,
              type: color,
              description: D1D5DB
            ),
            Gray400: (
              value: #9ca3af,
              type: color,
              description: 9CA3AF
            ),
            Gray50: (
              value: #f9fafb,
              type: color,
              description: F9FAFB
            ),
            Gray500: (
              value: #6b7280,
              type: color,
              description: 6B7280
            ),
            Gray600: (
              value: #4b5563,
              type: color,
              description: 4B5563
            ),
            Gray700: (
              value: #374151,
              type: color,
              description: 374151
            ),
            Gray800: (
              value: #1f2937,
              type: color,
              description: 1F2937
            ),
            Gray900: (
              value: #111827,
              type: color,
              description: 111827
            )
          ),
          Green: (
            Green100: (
              value: #d1fae5,
              type: color,
              description: D1FAE5
            ),
            Green200: (
              value: #a7f3d0,
              type: color,
              description: A7F3D0
            ),
            Green300: (
              value: #6ee7b7,
              type: color,
              description: 6EE7B7
            ),
            Green400: (
              value: #34d399,
              type: color,
              description: 34D399
            ),
            Green50: (
              value: #ecfdf5,
              type: color,
              description: ECFDF5
            ),
            Green500: (
              value: #10b981,
              type: color,
              description: 10B981
            ),
            Green600: (
              value: #059669,
              type: color,
              description: 059669
            ),
            Green700: (
              value: #047857,
              type: color,
              description: 047857
            ),
            Green800: (
              value: #065f46,
              type: color,
              description: 065F46
            ),
            Green900: (
              value: #064e3b,
              type: color,
              description: 064E3B
            )
          ),
          Indigo: (
            Indigo100: (
              value: #e0e7ff,
              type: color,
              description: E0E7FF
            ),
            Indigo200: (
              value: #c7d2fe,
              type: color,
              description: C7D2FE
            ),
            Indigo300: (
              value: #a5b4fc,
              type: color,
              description: A5B4FC
            ),
            Indigo400: (
              value: #818cf8,
              type: color,
              description: 818CF8
            ),
            Indigo50: (
              value: #eef2ee,
              type: color,
              description: EEF2FF
            ),
            Indigo500: (
              value: #6366f1,
              type: color,
              description: 6366F1
            ),
            Indigo600: (
              value: #4f46e5,
              type: color,
              description: 4F46E5
            ),
            Indigo700: (
              value: #4338ca,
              type: color,
              description: 4338CA
            ),
            Indigo800: (
              value: #3730a3,
              type: color,
              description: 3730A3
            ),
            Indigo900: (
              value: #312e81,
              type: color,
              description: 312E81
            )
          ),
          LightBlue: (
            LightBlue100: (
              value: #e0f2fe,
              type: color,
              description: E0F2FE
            ),
            LightBlue200: (
              value: #bae6fd,
              type: color,
              description: BAE6FD
            ),
            LightBlue300: (
              value: #7dd3fc,
              type: color,
              description: 7DD3FC
            ),
            LightBlue400: (
              value: #38bdf8,
              type: color,
              description: 38BDF8
            ),
            LightBlue50: (
              value: #f0f9ff,
              type: color,
              description: F0F9FF
            ),
            LightBlue500: (
              value: #0ea5e9,
              type: color,
              description: 0EA5E9
            ),
            LightBlue600: (
              value: #0284c7,
              type: color,
              description: 0284C7
            ),
            LightBlue700: (
              value: #0369a1,
              type: color,
              description: 0369A1
            ),
            LightBlue800: (
              value: #075985,
              type: color,
              description: 075985
            ),
            LightBlue900: (
              value: #0c4a6e,
              type: color,
              description: 0C4A6E
            )
          ),
          Orange: (
            Orange100: (
              value: #ffedd5,
              type: color,
              description: FFEDD5
            ),
            Orange200: (
              value: #fed7aa,
              type: color,
              description: FED7AA
            ),
            Orange300: (
              value: #fdba74,
              type: color,
              description: FDBA74
            ),
            Orange400: (
              value: #fb923c,
              type: color,
              description: FB923C
            ),
            Orange50: (
              value: #fff7ed,
              type: color,
              description: FFF7ED
            ),
            Orange500: (
              value: #f97316,
              type: color,
              description: F97316
            ),
            Orange600: (
              value: #ea580c,
              type: color,
              description: EA580C
            ),
            Orange700: (
              value: #c2410c,
              type: color,
              description: C2410C
            ),
            Orange800: (
              value: #9a3412,
              type: color,
              description: 9A3412
            ),
            Orange900: (
              value: #7c2d12,
              type: color,
              description: 7C2D12
            )
          ),
          Pink: (
            Pink100: (
              value: #fce7f3,
              type: color,
              description: FCE7F3
            ),
            Pink200: (
              value: #fbcfe8,
              type: color,
              description: FBCFE8
            ),
            Pink300: (
              value: #f9a8d4,
              type: color,
              description: F9A8D4
            ),
            Pink400: (
              value: #f472b6,
              type: color,
              description: F472B6
            ),
            Pink50: (
              value: #fdf2f8,
              type: color,
              description: FDF2F8
            ),
            Pink500: (
              value: #ec4899,
              type: color,
              description: EC4899
            ),
            Pink600: (
              value: #db2777,
              type: color,
              description: DB2777
            ),
            Pink700: (
              value: #be185d,
              type: color,
              description: BE185D
            ),
            Pink800: (
              value: #9d174d,
              type: color,
              description: 9D174D
            ),
            Pink900: (
              value: #831843,
              type: color,
              description: 831843
            )
          ),
          Purple: (
            Purple100: (
              value: #ede9fe,
              type: color,
              description: EDE9FE
            ),
            Purple200: (
              value: #ddd6fe,
              type: color,
              description: DDD6FE
            ),
            Purple300: (
              value: #c4b5fd,
              type: color,
              description: C4B5FD
            ),
            Purple400: (
              value: #a78bfa,
              type: color,
              description: A78BFA
            ),
            Purple50: (
              value: #f5f3ff,
              type: color,
              description: F5F3FF
            ),
            Purple500: (
              value: #8b5cf6,
              type: color,
              description: 8B5CF6
            ),
            Purple600: (
              value: #7c3aed,
              type: color,
              description: 7C3AED
            ),
            Purple700: (
              value: #6d28d9,
              type: color,
              description: 6D28D9
            ),
            Purple800: (
              value: #5b21b6,
              type: color,
              description: 5B21B6
            ),
            Purple900: (
              value: #4c1d95,
              type: color,
              description: 4C1D95
            )
          ),
          Red: (
            Red100: (
              value: #fee2e2,
              type: color,
              description: FEE2E2
            ),
            Red200: (
              value: #fecaca,
              type: color,
              description: FECACA
            ),
            Red300: (
              value: #fca5a5,
              type: color,
              description: FCA5A5
            ),
            Red400: (
              value: #f87171,
              type: color,
              description: F87171
            ),
            Red50: (
              value: #fef2f2,
              type: color,
              description: FEF2F2
            ),
            Red500: (
              value: #ef4444,
              type: color,
              description: EF4444
            ),
            Red600: (
              value: #dc2626,
              type: color,
              description: DC2626
            ),
            Red700: (
              value: #b91c1c,
              type: color,
              description: B91C1C
            ),
            Red800: (
              value: #991b1b,
              type: color,
              description: 991B1B
            ),
            Red900: (
              value: #7f1d1d,
              type: color,
              description: 7F1D1D
            )
          ),
          Rose: (
            Rose100: (
              value: #ffe4e6,
              type: color,
              description: FFE4E6
            ),
            Rose200: (
              value: #fecdd3,
              type: color,
              description: FECDD3
            ),
            Rose300: (
              value: #fda4af,
              type: color,
              description: FDA4AF
            ),
            Rose400: (
              value: #fb7185,
              type: color,
              description: FB7185
            ),
            Rose50: (
              value: #fff1f2,
              type: color,
              description: FFF1F2
            ),
            Rose500: (
              value: #f43f5e,
              type: color,
              description: F43F5E
            ),
            Rose600: (
              value: #e11d48,
              type: color,
              description: E11D48
            ),
            Rose700: (
              value: #be123c,
              type: color,
              description: BE123C
            ),
            Rose800: (
              value: #9f1239,
              type: color,
              description: 9F1239
            ),
            Rose900: (
              value: #881337,
              type: color,
              description: 881337
            )
          ),
          Teal: (
            Teal100: (
              value: #ccfbf1,
              type: color,
              description: CCFBF1
            ),
            Teal200: (
              value: #99f6e4,
              type: color,
              description: 99F6E4
            ),
            Teal300: (
              value: #5eead4,
              type: color,
              description: 5EEAD4
            ),
            Teal400: (
              value: #2dd4bf,
              type: color,
              description: 2DD4BF
            ),
            Teal50: (
              value: #f0fdfa,
              type: color,
              description: F0FDFA
            ),
            Teal500: (
              value: #14b8a6,
              type: color,
              description: 14B8A6
            ),
            Teal600: (
              value: #0d9488,
              type: color,
              description: 0D9488
            ),
            Teal700: (
              value: #0f766e,
              type: color,
              description: 0F766E
            ),
            Teal800: (
              value: #115e59,
              type: color,
              description: 115E59
            ),
            Teal900: (
              value: #134e4a,
              type: color,
              description: 134E4A
            )
          ),
          Yellow: (
            Yellow100: (
              value: #fef3c7,
              type: color,
              description: FEF3C7
            ),
            Yellow200: (
              value: #fde68a,
              type: color,
              description: FDE68A
            ),
            Yellow300: (
              value: #fcd34d,
              type: color,
              description: FCD34D
            ),
            Yellow400: (
              value: #fbbf24,
              type: color,
              description: FBBF24
            ),
            Yellow50: (
              value: #fffbeb,
              type: color,
              description: FFFBEB
            ),
            Yellow500: (
              value: #f59e0b,
              type: color,
              description: F59E0B
            ),
            Yellow600: (
              value: #d97706,
              type: color,
              description: D97706
            ),
            Yellow700: (
              value: #b45309,
              type: color,
              description: B45309
            ),
            Yellow800: (
              value: #92400e,
              type: color,
              description: 92400E
            ),
            Yellow900: (
              value: #78350f,
              type: color,
              description: 78350F
            )
          )
        )
      )
    ),
    fontSize: (
      0: (
        value: 10,
        type: fontSizes
      ),
      1: (
        value: 12,
        type: fontSizes
      ),
      2: (
        value: 14,
        type: fontSizes
      ),
      3: (
        value: 16,
        type: fontSizes
      ),
      4: (
        value: 18,
        type: fontSizes
      ),
      5: (
        value: 20,
        type: fontSizes
      ),
      6: (
        value: 24,
        type: fontSizes
      ),
      7: (
        value: 32,
        type: fontSizes
      ),
      8: (
        value: 40,
        type: fontSizes
      ),
      9: (
        value: 48,
        type: fontSizes
      )
    ),
    H1: (
      bold: (
        fontFamily: (
          value: $fontFamilies.encode-sans,
          type: fontFamily
        ),
        fontWeight: (
          value: $fontWeights.encode-sans-0,
          type: fontWeight
        ),
        lineHeight: (
          value: $lineHeights.0,
          type: lineHeight
        ),
        fontSize: (
          value: $fontSize.9,
          type: fontSize
        ),
        letterSpacing: (
          value: $letterSpacing.0,
          type: letterSpacing
        ),
        paragraphSpacing: (
          value: $paragraphSpacing.0,
          type: paragraphSpacing
        ),
        textCase: (
          value: $textCase.none,
          type: textCase
        ),
        textDecoration: (
          value: $textDecoration.none,
          type: textDecoration
        )
      )
    ),
    H2: (
      bold: (
        fontFamily: (
          value: $fontFamilies.encode-sans,
          type: fontFamily
        ),
        fontWeight: (
          value: $fontWeights.encode-sans-0,
          type: fontWeight
        ),
        lineHeight: (
          value: $lineHeights.0,
          type: lineHeight
        ),
        fontSize: (
          value: $fontSize.8,
          type: fontSize
        ),
        letterSpacing: (
          value: $letterSpacing.0,
          type: letterSpacing
        ),
        paragraphSpacing: (
          value: $paragraphSpacing.0,
          type: paragraphSpacing
        ),
        textCase: (
          value: $textCase.none,
          type: textCase
        ),
        textDecoration: (
          value: $textDecoration.none,
          type: textDecoration
        )
      )
    ),
    H3: (
      bold: (
        fontFamily: (
          value: $fontFamilies.encode-sans,
          type: fontFamily
        ),
        fontWeight: (
          value: $fontWeights.encode-sans-0,
          type: fontWeight
        ),
        lineHeight: (
          value: $lineHeights.0,
          type: lineHeight
        ),
        fontSize: (
          value: $fontSize.7,
          type: fontSize
        ),
        letterSpacing: (
          value: $letterSpacing.0,
          type: letterSpacing
        ),
        paragraphSpacing: (
          value: $paragraphSpacing.0,
          type: paragraphSpacing
        ),
        textCase: (
          value: $textCase.none,
          type: textCase
        ),
        textDecoration: (
          value: $textDecoration.none,
          type: textDecoration
        )
      )
    ),
    H4: (
      bold: (
        fontFamily: (
          value: $fontFamilies.encode-sans,
          type: fontFamily
        ),
        fontWeight: (
          value: $fontWeights.encode-sans-0,
          type: fontWeight
        ),
        lineHeight: (
          value: $lineHeights.1,
          type: lineHeight
        ),
        fontSize: (
          value: $fontSize.6,
          type: fontSize
        ),
        letterSpacing: (
          value: $letterSpacing.0,
          type: letterSpacing
        ),
        paragraphSpacing: (
          value: $paragraphSpacing.0,
          type: paragraphSpacing
        ),
        textCase: (
          value: $textCase.none,
          type: textCase
        ),
        textDecoration: (
          value: $textDecoration.none,
          type: textDecoration
        )
      )
    ),
    H5: (
      bold: (
        fontFamily: (
          value: $fontFamilies.encode-sans,
          type: fontFamily
        ),
        fontWeight: (
          value: $fontWeights.encode-sans-0,
          type: fontWeight
        ),
        lineHeight: (
          value: $lineHeights.1,
          type: lineHeight
        ),
        fontSize: (
          value: $fontSize.5,
          type: fontSize
        ),
        letterSpacing: (
          value: $letterSpacing.0,
          type: letterSpacing
        ),
        paragraphSpacing: (
          value: $paragraphSpacing.0,
          type: paragraphSpacing
        ),
        textCase: (
          value: $textCase.none,
          type: textCase
        ),
        textDecoration: (
          value: $textDecoration.none,
          type: textDecoration
        )
      )
    ),
    H6: (
      bold: (
        fontFamily: (
          value: $fontFamilies.encode-sans,
          type: fontFamily
        ),
        fontWeight: (
          value: $fontWeights.encode-sans-0,
          type: fontWeight
        ),
        lineHeight: (
          value: $lineHeights.1,
          type: lineHeight
        ),
        fontSize: (
          value: $fontSize.4,
          type: fontSize
        ),
        letterSpacing: (
          value: $letterSpacing.0,
          type: letterSpacing
        ),
        paragraphSpacing: (
          value: $paragraphSpacing.0,
          type: paragraphSpacing
        ),
        textCase: (
          value: $textCase.none,
          type: textCase
        ),
        textDecoration: (
          value: $textDecoration.none,
          type: textDecoration
        )
      )
    ),
    body: (
      xlarge: (
        bold: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-1,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.4,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        semibold: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.4,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        medium: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.4,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        regular: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.4,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        )
      ),
      large: (
        bold: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-1,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.3,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        semibold: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-1,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.3,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        medium: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.3,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        regular: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.3,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        )
      ),
      medium: (
        bold: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-1,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.2,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        semibold: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-1,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.2,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        medium: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.2,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        regular: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.2,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.2,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        )
      ),
      small: (
        bold: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-1,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.3,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.1,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        semibold: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-1,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.3,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.1,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        medium: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.3,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.1.5,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        regular: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.3,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.1,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        )
      ),
      xsmall: (
        bold: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-1,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.3,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.0,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        semibold: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.3,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.0,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        medium: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.3,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.0,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        ),
        regular: (
          fontFamily: (
            value: $fontFamilies.verdana,
            type: fontFamily
          ),
          fontWeight: (
            value: $fontWeights.verdana-2,
            type: fontWeight
          ),
          lineHeight: (
            value: $lineHeights.3,
            type: lineHeight
          ),
          fontSize: (
            value: $fontSize.0,
            type: fontSize
          ),
          letterSpacing: (
            value: $letterSpacing.0,
            type: letterSpacing
          ),
          paragraphSpacing: (
            value: $paragraphSpacing.0,
            type: paragraphSpacing
          ),
          textCase: (
            value: $textCase.none,
            type: textCase
          ),
          textDecoration: (
            value: $textDecoration.none,
            type: textDecoration
          )
        )
      )
    ),
    textCase: (
      none: (
        value: none,
        type: textCase
      )
    ),
    textDecoration: (
      none: (
        value: none,
        type: textDecoration
      )
    )
  ),
  borderRadius: (
    overlay: (
      value: 30,
      type: borderRadius,
      description: Radius-Top for Bottom-Aligned Overlays
    )
  ),
  Overlay-Dropshadow: (
    value: (
      x: 10,
      y: 10,
      blur: 40,
      spread: 0,
      color: {global.Foundation Light Theme.greyscale.grey300},
      type: dropShadow
    ),
    type: boxShadow,
    description: Drop-Shadow used for Modals / Overlays
  ),
  MD: (
    value: 150,
    type: sizing,
    description: test
  ),
  SM: (
    value: 100,
    type: sizing
  )
);
